.footer {
  &__top {
    border-top: 1px solid $orange;
    padding: 20px 0;
    background: $white;
    position: relative;
    .footer__row {
      display: grid;
      grid-template-areas: 'menu' 'phones' 'contacts';
      grid-template-columns: 1fr;
      gap: 20px;
      @media (min-width: 576px) {
        grid-template-areas: 'logo contacts' 'phones menu';
        grid-template-columns: auto auto;
      }
      @media (min-width: 992px) {
        grid-template-areas:
          'menu menu'
          'phones phones'
          'logo contacts';
        align-items: center;
      }
    }

    @media (min-width: 992px) {
      &::before {
        position: absolute;
        content: '';
        left: 0;
        right: 0;
        width: 100%;
        height: 1px;
        background: $orange;
        top: 58px;
      }
    }
  }
  &__bottom {
    padding: 20px 0;
    background: $gray;
    .footer__row {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
    }
  }
  .logo {
    max-width: 105px;
    height: 60px;
    display: none;
    @media (min-width: 576px) {
      grid-area: logo;
      display: block;
    }
    @media (min-width: 992px) {
      justify-self: flex-end;
    }
  }
  .phones {
    display: flex;
    gap: 10px;
    grid-area: phones;
    align-items: flex-start;
    flex-direction: column;
    @media (min-width: 992px) {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      @media (min-width: 1200px) {
        gap: 20px;
      }
    }
    a {
      display: flex;
      align-items: center;
      gap: 5px;
      color: $black;
      line-height: 1;
      transition: color 0.3s ease-in-out;
      &:first-of-type {
        grid-area: tel1;
      }
      &:last-of-type {
        grid-area: tel2;
      }
      &:hover {
        color: $blue;
        i {
          color: $blue;
          opacity: 1;
        }
      }
      img {
        height: 15px;
        width: 15px;
        object-fit: cover;
      }
      i {
        transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
        color: $black;
        opacity: 0.5;
      }
    }
  }
  .back-call {
    font-family: $roboto;
    font-weight: 400;
    line-height: 1;
    border: none;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 40px;
    padding: 0 10px;
    border: 1px solid $black;
    border-radius: 5px;
    cursor: pointer;
    color: $black;
    transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
    i {
      color: rgba(0, 0, 0, 0.5);
      transition: color 0.3s ease-in-out;
    }
    &:hover {
      border: 1px solid $orange;
      background: $orange;
      color: $white;
      i {
        color: $white;
      }
    }
  }
  .contacts {
    display: flex;
    gap: 10px;
    grid-area: contacts;
    flex-direction: column;
    @media (min-width: 992px) {
      flex-direction: row;
    }
    a {
      display: flex;
      gap: 5px;
      line-height: 1;
      color: $black;
      transition: color 0.3s ease-in-out;
      &:hover {
        color: $blue;
        i {
          color: $blue;
          opacity: 1;
        }
      }
      i {
        transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
        color: $black;
        opacity: 0.5;
      }
    }
    div {
      display: flex;
      gap: 5px;
      line-height: 1;
      color: $black;
      i {
        color: $black;
        opacity: 0.5;
      }
    }
  }
  .menu {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    grid-area: menu;
    flex-direction: column;
    @media (min-width: 992px) {
      flex-direction: row;
      justify-content: center;
      margin-bottom: 20px;
    }
    @media (min-width: 1200px) {
      gap: 20px;
    }
    &__link {
      color: $black;
      transition: color 0.3s ease-in-out;
      &:hover {
        color: $blue;
      }
    }
  }
  .text {
    font-size: 1.2rem;
    text-align: center;
    max-width: 1000px;
  }
  .payment {
    img {
      max-width: 500px;
      // filter: grayscale(1);
    }
  }
}
