.header {
  padding: 10px 0;
  position: sticky;
  left: 0;
  right: 0;
  width: 100%;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid $light-gray;
  background: #fff;
  @media (min-width: 992px) {
    padding: 10px 0 0 0;
    border-bottom: none;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
}
.logo {
  max-width: 70px;
  height: 40px;
  display: block;
  @media (min-width: 992px) {
    max-width: 132px;
    height: 75px;
  }
}
.navdesktop {
  display: none;
  @media (min-width: 992px) {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
    margin-bottom: 5px;
    @media (min-width: 1200px) {
      margin-bottom: 10px;
    }
    .phones {
      display: flex;
      flex-direction: column;
      gap: 10px;
      position: relative;
      padding: 10px;
      &:hover {
        & > .submenu {
          display: flex;
        }
      }
      & > a {
        display: flex;
        align-items: center;
        gap: 5px;
        color: $black;
        line-height: 1;
        transition: color 0.3s linear;
        position: relative;
        &::before {
          font-family: 'FontAwesome';
          content: '\f0d7';
          position: absolute;
          right: -15px;
          top: 50%;
          transform: translateY(-50%);
          color: $gray;
          transition: color 0.3s linear;
        }
        &:hover {
          color: $orange;
          &::before {
            color: $orange;
          }
        }
      }
      img {
        height: 15px;
        width: 15px;
        object-fit: cover;
      }
      .submenu {
        display: none;
        position: absolute;
        flex-direction: column;
        gap: 10px;
        top: 35px;
        background: $white;
        padding: 10px;
        width: max-content;
        z-index: 1000;
        left: 0;
        right: 0;
        border-radius: 5px;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
        &:hover {
          display: flex;
        }
        a {
          display: flex;
          align-items: center;
          gap: 5px;
          color: $black;
          line-height: 1;
          transition: color 0.3s linear;
          &:hover {
            color: $orange;
            & > i {
              color: $orange;
            }
          }
        }
        i {
          color: $gray;
          transition: color 0.3s linear;
        }
      }
    }
    .menu {
      display: none;
      @media (min-width: 1200px) {
        display: flex;
        gap: 10px;
      }
      @media (min-width: 1400px) {
        gap: 30px;
      }
      &__link {
        transition: color 0.3s linear;
        color: $black;
        // font-size: 1.2rem;
        line-height: 1;
        &:hover {
          color: $orange;
        }
      }
    }
    .contacts {
      display: flex;
      gap: 5px;
      @media (min-width: 1200px) {
        flex-direction: column;
      }
      a {
        display: flex;
        align-items: center;
        gap: 5px;
        color: $black;
        transition: color 0.3s linear;
        font-size: 1.2rem;
        @media (min-width: 1400px) {
          font-size: 1.5rem;
        }
        &:hover {
          color: $orange;
          i {
            color: $orange;
          }
        }
      }
      i {
        transition: color 0.3s linear;
        color: $gray;
      }
    }
    .time-work {
      display: block;
      font-size: 1.2rem;
      @media (min-width: 1400px) {
        font-size: 1.5rem;
      }
      i {
        color: $gray;
      }
    }
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    .all-items {
      width: 150px;
      font-family: $exo2;
      font-weight: 300;
      line-height: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      background: none;
      border-radius: 5px;
      padding: 10px;
      height: 40px;
      color: $black;
      cursor: pointer;
      transition: color 0.3s linear, background 0.3s linear, border 0.3s linear;
      border: 1px solid $light-gray;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
      background: $white;
      &:hover {
        border: 1px solid $orange;
        background: $orange;
        color: $white;
      }
    }
    .login {
      width: 150px;
      font-family: $exo2;
      font-weight: 300;
      line-height: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      background: none;
      border-radius: 5px;
      padding: 10px;
      height: 40px;
      color: $black;
      cursor: pointer;
      transition: color 0.3s linear, background 0.3s linear, border 0.3s linear;
      border: 1px solid $light-gray;
      background: $white;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
      &:hover {
        border: 1px solid $orange;
        background: $orange;
        color: $white;
      }
    }
    .search-input {
      padding: 0;
      height: 40px;
      position: relative;
      flex: 1;
      &::before {
        color: $gray;
        font-family: 'FontAwesome';
        content: '\f002';
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 1.8rem;
      }

      input {
        font-family: $exo2;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25) inset;
        width: 100%;
        border: none;
        border-radius: 5px;
        padding: 10px 30px 10px 10px;
        width: 100%;
        &:focus,
        &:active,
        &:focus {
          outline: auto;
          outline-color: rgba(255, 124, 0, 0.6);
          outline-style: solid;
        }
      }
    }
    .basket {
      width: 20px;
      height: 20px;
      border: none;
      background: none;
      position: relative;
      cursor: pointer;
      &:hover {
        i {
          color: $orange;
        }
      }
      i {
        transition: color 0.3s linear;
        color: $gray;
        font-size: 1.8rem;
      }
      span {
        width: 16px;
        height: 16px;
        position: absolute;
        top: -10px;
        right: -10px;
        border-radius: 50%;
        background: $orange;
        color: $white;
        font-size: 1rem;
        line-height: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        @media (min-width: 992px) {
          font-size: 1.2rem;
          width: 20px;
          height: 20px;
          top: -15px;
          right: -15px;
        }
      }
    }
  }
}
.navmobile {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  width: 100%;
  @media (min-width: 992px) {
    display: none;
  }
  .search {
    width: 20px;
    height: 20px;
    border: none;
    background: none;
    cursor: pointer;
    @media (min-width: 768px) {
      display: none;
    }
    &:hover {
      i {
        color: $orange;
      }
    }
    i {
      transition: color 0.3s linear;
      color: $gray;
      font-size: 1.8rem;
    }
  }
  .phones {
    width: 20px;
    height: 20px;
    border: none;
    background: none;
    cursor: pointer;

    &:hover {
      & > i {
        color: $orange;
      }
    }
    & > i {
      transition: color 0.3s linear;
      color: $gray;
      font-size: 1.8rem;
    }
    &__list {
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      top: 61px;
      background: $white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 20px;
      gap: 10px;
      transition: transform 0.3s linear;
      transform: translateX(-100%);
      &.active {
        transform: translateX(0%);
      }
      a {
        display: flex;
        align-items: center;
        gap: 5px;
        color: $black;
        line-height: 1;
        transition: color 0.3s linear;
        &:hover {
          color: $orange;
          & > i {
            color: $orange;
          }
        }
        i {
          transition: color 0.3s linear;
          color: $gray;
        }
      }
      img {
        height: 15px;
        width: 15px;
        object-fit: cover;
      }
    }
  }
  .basket {
    width: 20px;
    height: 20px;
    border: none;
    background: none;
    position: relative;
    cursor: pointer;
    &:hover {
      i {
        color: $orange;
      }
    }
    i {
      transition: color 0.3s linear;
      color: $gray;
      font-size: 1.8rem;
    }
    span {
      width: 16px;
      height: 16px;
      position: absolute;
      top: -10px;
      right: -10px;
      border-radius: 50%;
      background: $orange;
      color: $white;
      font-size: 1rem;
      line-height: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      @media (min-width: 992px) {
        font-size: 1.2rem;
        width: 20px;
        height: 20px;
        top: -15px;
        right: -15px;
      }
    }
  }
  .login {
    width: 20px;
    height: 20px;
    border: none;
    background: none;
    cursor: pointer;
    &:hover {
      i {
        color: $orange;
      }
    }
    i {
      transition: color 0.3s linear;
      color: $gray;
      font-size: 1.8rem;
    }
  }
  .burger {
    width: 30px;
    height: 30px;
    cursor: pointer;
    cursor: pointer;
    background: none;
    border: none;
    position: relative;
    z-index: 10000;
    &:hover {
      span {
        background: $orange;
      }
    }
    &.active {
      span {
        background: $orange;
        &:nth-child(1) {
          transform: translateY(6px) rotate(-45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          transform: translateY(-8px) rotate(45deg);
        }
      }
    }
    span {
      border-radius: 3px;
      width: 100%;
      background: $gray;
      height: 2px;
      transition: transform 0.3s linear, opacity 0.3s linear,
        background 0.3s linear;
      position: absolute;
      left: 0;
      opacity: 1;
      &:nth-child(1) {
        top: 8px;
      }
      &:nth-child(2) {
        top: 15px;
      }
      &:nth-child(3) {
        top: 22px;
      }
    }
  }
  .search-input {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 10px;
    height: 60px;
    z-index: 50000;
    flex: 1;
    transform: translateY(-100%);
    transition: transform 0.3s linear;
    @media (min-width: 768px) {
      transform: translateY(0);
      position: relative;
      padding: 0;
      height: 40px;
      &::before {
        color: $gray;
        font-family: 'FontAwesome';
        content: '\f002';
        font-size: 1.8rem;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
      }
      .search-input__close {
        display: none;
      }
    }
    &.active {
      transform: translateY(0);
    }
    input {
      font-family: $exo2;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25) inset;
      width: 100%;
      border: none;
      border-radius: 5px;
      padding: 10px 30px 10px 10px;
      &:focus,
      &:active,
      &:focus {
        outline: auto;
        outline-color: rgba(255, 124, 0, 0.6);
        outline-style: solid;
      }
    }
    &__close {
      background: none;
      border: none;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 10px;
      &:hover {
        i {
          color: $orange;
        }
      }
      i {
        transition: color 0.3s linear;
        color: $gray;
        font-size: 1.8rem;
      }
    }
  }
}
.menudesktop {
  display: none;
  @media (min-width: 992px) {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    .menu__item {
      position: relative;
      width: 100%;
      &:hover {
        .menu__link {
          background: rgba(0, 0, 0, 0.1);
          &:hover {
            & ~ .submenu {
              display: flex;
            }
          }
        }
      }
      &:nth-child(1) {
        background: linear-gradient(to right, #3d3ef0 0%, #5f3fca 100%);
        .submenu {
          background: linear-gradient(to right, #3d3ef0 0%, #5f3fca 100%);
        }
      }
      &:nth-child(2) {
        background: linear-gradient(to right, #5f3fca 0%, #8041a6 100%);
        .submenu {
          background: linear-gradient(to right, #5f3fca 0%, #8041a6 100%);
        }
      }
      &:nth-child(3) {
        background: linear-gradient(to right, #8041a6 0%, #a1417f 100%);
        .submenu {
          background: linear-gradient(to right, #8041a6 0%, #a1417f 100%);
        }
      }
      &:nth-child(4) {
        background: linear-gradient(to right, #a1417f 0%, #c3435a 100%);
        .submenu {
          background: linear-gradient(to right, #a1417f 0%, #c3435a 100%);
        }
      }
      &:nth-child(5) {
        background: linear-gradient(to right, #c3435a 0%, #d84c4a 100%);
        .submenu {
          background: linear-gradient(to right, #c3435a 0%, #d84c4a 100%);
        }
      }
      &:nth-child(6) {
        background: linear-gradient(to right, #d84c4a 0%, #df5c4f 100%);
        .submenu {
          background: linear-gradient(to right, #d84c4a 0%, #df5c4f 100%);
        }
      }
      &:nth-child(7) {
        background: linear-gradient(to right, #df5c4f 0%, #e76d54 100%);
        .submenu {
          background: linear-gradient(to right, #df5c4f 0%, #e76d54 100%);
        }
      }
      &:nth-child(8) {
        background: linear-gradient(to right, #e76d54 0%, #ee7d59 100%);
        .submenu {
          background: linear-gradient(to right, #e76d54 0%, #ee7d59 100%);
        }
      }
      &:nth-child(9) {
        background: linear-gradient(to right, #ee7d59 0%, #f68e5f 100%);
        .submenu {
          background: linear-gradient(to right, #ee7d59 0%, #f68e5f 100%);
        }
      }
    }
    .menu__link {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      color: $white;
      font-weight: 300;
      font-size: 1rem;
      padding: 0 5px;
      @media (min-width: 1200px) {
        font-size: 1.2rem;
      }
      @media (min-width: 1400px) {
        font-size: 1.4rem;
      }
      @media (min-width: 1920px) {
        font-size: 1.5rem;
      }
    }
    .submenu {
      display: none;
      flex-direction: column;
      position: absolute;
      width: 100%;
      left: 0;
      right: 0;
      top: 50px;
      z-index: 100;
      &__item {
        width: 100%;
      }
      &__link {
        color: $white;
        font-weight: 300;
        display: block;
        width: 100%;
        padding: 5px;
        font-size: 1rem;
        @media (min-width: 1200px) {
          font-size: 1.2rem;
          padding: 10px;
        }
        @media (min-width: 1400px) {
          font-size: 1.4rem;
        }
        @media (min-width: 1920px) {
          font-size: 1.5rem;
        }
        &:hover {
          background: rgba(0, 0, 0, 0.1);
        }
      }
      &:hover {
        display: flex;
      }
    }
  }
}
.menumobile {
  height: 100%;
  position: fixed;
  left: 0;
  top: 61px;
  bottom: 0;
  background: $white;
  z-index: 10000;
  transform: translateX(-100%);
  transition: transform 0.3s linear;
  width: 300px;
  overflow: hidden;
  padding-bottom: 100px;
  &__wrap {
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 100%;
  }
  &.active {
    transform: translateX(0%);
  }
  .menu {
    display: flex;
    flex-direction: column;
    &__item {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      &:first-child {
        .menu__link {
          background: $light-gray;
          color: $orange;
          font-weight: 700;
        }
      }
      &:hover {
        .menu__link {
          color: $orange;
          &::before {
            color: $orange;
          }
        }
      }
    }
    &__link {
      border-bottom: 1px solid $light-gray;
      padding: 20px 40px 20px 20px;
      width: 100%;
      display: flex;
      align-items: center;
      color: $black;
      font-weight: 300;
      transition: color 0.3s linear;
      &.arrow {
        position: relative;
        &::before {
          font-family: 'FontAwesome';
          content: '\f0da';
          position: absolute;
          right: 20px;
          transition: color 0.3s linear;
          color: $gray;
          font-size: 1.2rem;
        }
      }
    }
    .submenu {
      position: absolute;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid $orange;
      background: $white;
      top: 0px;
      bottom: 0;
      width: 100%;
      height: 100%;
      transform: translate(100%);
      transition: transform 0.3s linear;
      z-index: 1000;
      &.active {
        transform: translate(0%);
      }
      &__item {
        &:not(:last-child) {
          .submenu__link {
            border-bottom: 1px solid $light-gray;
          }
        }
        &:first-child {
          .submenu__link {
            padding: 20px 50px;
            position: relative;
            &:hover {
              &::before {
                color: $orange;
              }
            }
            &::before {
              font-family: 'FontAwesome';
              content: '\f060';
              position: absolute;
              top: 50%;
              left: 20px;
              transform: translateY(-50%);
              transition: color 0.3s linear;
              color: $gray;
            }
          }
        }
        &:nth-child(2) {
          .submenu__link {
            background: $light-gray;
            color: $orange;
            font-weight: 700;
          }
        }
      }
      &__link {
        padding: 20px;
        display: flex;
        align-items: center;
        color: $black;
        font-weight: 300;
        transition: color 0.3s linear;
        &:hover {
          color: $orange;
        }
      }
      &:hover {
        display: flex;
      }
    }
  }
  .phones {
    padding: 0px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    a {
      display: flex;
      align-items: center;
      gap: 10px;
      color: $black;
      transition: color 0.3s linear;
      &:hover {
        color: $orange;
        i {
          color: $orange;
        }
      }
      i {
        color: $gray;
        transition: color 0.3s linear;
      }
      img {
        height: 15px;
        width: 15px;
        object-fit: cover;
      }
    }
  }
  .contacts {
    padding: 0px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    a {
      display: flex;
      align-items: center;
      gap: 10px;
      color: $black;
      transition: color 0.3s linear;
      &:hover {
        color: $orange;
        i {
          color: $orange;
        }
      }
      i {
        color: $gray;
        transition: color 0.3s linear;
      }
    }
    div {
      display: flex;
      align-items: center;
      gap: 5px;
      color: $black;
      i {
        color: $gray;
      }
    }
  }
}
.mobile-overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 61px;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: $light-gray;
  z-index: 500;
  opacity: 0;
  opacity: 0.5;
  display: none;
  transition: opacity 0.3s linear;
  &.active {
    display: block;
  }
}
