.swiper-wrap {
  @media (min-width: 768px) {
    padding: 0 20px;
  }
  .swiper {
    margin-top: -50px;
    max-width: 1700px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    @media (min-width: 992px) {
      margin-top: 0px;
    }
    &:hover {
      .swiper-button-prev {
        transform: translateX(50%);
        opacity: 1;
      }
      .swiper-button-next {
        transform: translateX(-50%);
        opacity: 1;
      }
    }
    .swiper-wrapper {
      .swiper-slide {
        img {
          object-fit: cover;
        }
      }
    }
    .swiper-button-prev {
      background: $white;
      width: 50px;
      height: 50px;
      left: 0;
      border-radius: 5px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
      transform: translateX(-100%);
      transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out,
        background 0.3s ease-in-out;
      opacity: 0;
      &:hover {
        background: $orange;
        &::after {
          color: $white;
        }
      }
      &::after {
        font-weight: 700;
        color: $orange;
        font-size: 2rem;
        transition: color 0.3s ease-in-out;
        &:hover {
          background: $orange;
          &::after {
            color: $white;
          }
        }
      }
    }
    .swiper-button-next {
      background: $white;
      right: 0;
      width: 50px;
      height: 50px;
      border-radius: 5px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
      transform: translateX(100%);
      transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out,
        background 0.3s ease-in-out;
      opacity: 0;
      &:hover {
        background: $orange;
        &::after {
          color: $white;
        }
      }
      &::after {
        transition: color 0.3s ease-in-out;
        font-weight: 700;
        color: $orange;
        font-size: 2rem;
      }
    }
    .swiper-pagination {
      .swiper-pagination-bullet {
        background: $gray;
        opacity: 1;
        width: 10px;
        height: 10px;
      }
      .swiper-pagination-bullet-active {
        background: $orange;
      }
    }
  }
}
