doctype html
html
  head
    title="Монами"
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name='description', content="")
    meta(name='keywords', content="")
    meta(name="author", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes, viewport-fit=cover")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css")
    link(rel="icon" type="image/x-icon" href="./favicon.ico")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css")
    link(rel="stylesheet", href="./main.css")
  body
    .wrap
        header.header
            .container
                .header__row
                    a(href='/').logo
                        img(src="./img/logo.jpg", alt="Монами")
                    nav.navdesktop
                        .navdesktop__top
                            .phones
                                a(href="#")
                                    img(src="./img/mts.png", alt="MTS")
                                    | +375 33 666 90 10
                                .submenu
                                    a(href="##")
                                        img(src="./img/a1.png", alt="A1")
                                        | +375 29 666 80 04
                                    a(href="#")
                                        i(class="fa-solid fa-phone")
                                        | +375 33 666 90 10
                                    a(href="#")
                                        i(class="fa-solid fa-phone")
                                        |+375 33 666 90 10
                                    a(href="#")
                                        i(class="fa-solid fa-phone")
                                        | +375 33 666 90 10
                                    a(href="#")
                                        i(class="fa-solid fa-phone-volume")
                                        | Обратный звонок
                            ul.menu
                                li.menu__item
                                    a(href="").menu__link О компании
                                li.menu__item
                                    a(href="").menu__link Условия сотрудничества
                                li.menu__item
                                    a(href="").menu__link Оплата и Доставка
                            .contacts
                                a(href="")
                                    i(class="fa-solid fa-envelope")
                                    | info@monami.by
                                a(href="")
                                    i(class="fa-solid fa-location-dot")
                                    | г. Минск, ул. Бабушкина, дом 6А, комната 203
                            .time-work
                                i(class="fa-solid fa-clock")
                                |  Пн-Пт, с 
                                b 9:00 
                                | до 
                                b 18:00
                        .navdesktop__bottom
                            a(href="./products.html").all-items Все товары
                            .search-input
                                input(type="text" placeholder="Поиск")
                            //- button(type="button").favorite
                            //-     i(class="fa-regular fa-heart")
                            //-     span.favorite__count 10
                            button(type="button").login Войти
                            button(type="button").basket
                                i(class="fa-solid fa-cart-shopping")
                                span.basket__count 0
                    nav.navmobile
                        .search-input#searchInput
                            input(type="text" placeholder="Поиск")
                            button(type="button").search-input__close
                                i(class="fa-solid fa-xmark")
                        button(type="button").search#btnSearch
                            i(class="fa-solid fa-magnifying-glass")
                        button(type="button").phones#btnPhones
                            i(class="fa-solid fa-phone")
                            .phones__list
                                a(href="")
                                    img(src="./img/mts.png", alt="MTS")
                                    | +375 33 666 90 10
                                a(href="")
                                    img(src="./img/a1.png", alt="A1")
                                    | +375 29 666 80 04
                                a(href="#")
                                    i(class="fa-solid fa-phone")
                                    | +375 33 666 90 10
                                a(href="#")
                                    i(class="fa-solid fa-phone")
                                    |+375 33 666 90 10
                                a(href="#")
                                    i(class="fa-solid fa-phone")
                                    | +375 33 666 90 10
                                a(href="#")
                                    i(class="fa-solid fa-phone-volume")
                                    | Обратный звонок
                        button(type="button").basket
                            i(class="fa-solid fa-cart-shopping")
                            span.basket__count 0
                        button(type="button").login
                            i(class="fa-solid fa-user")
                        button(type="button").burger
                                    span
                                    span
                                    span
                    nav.menumobile#menumobile
                        .menumobile__wrap
                            ul.menu
                                li.menu__item
                                    a(href="./products.html").menu__link Все товары
                                li.menu__item
                                    a(href='####').menu__link Новое поступление
                                    ul.submenu
                                        li.submenu__item
                                            a(href="#@").submenu__link.backArrow Назад
                                        li.submenu__item
                                            a(href="#").submenu__link Новое поступление
                                        li.submenu__item
                                            a(href="###").submenu__link Ванна и туалет
                                        li.submenu__item
                                            a(href="#").submenu__link Баня и сауна
                                        li.submenu__item
                                            a(href="#").submenu__link Посуда
                                        li.submenu__item
                                            a(href="#").submenu__link Крючки
                                        li.submenu__item
                                            a(href="#").submenu__link Хозтовары
                                        li.submenu__item
                                            a(href="#").submenu__link Кухонные принадлежности, текстиль
                                li.menu__item
                                    a(href='#!').menu__link Акции/распродажи
                                    ul.submenu
                                        li.submenu__item
                                            a(href="#@").submenu__link.backArrow Назад
                                        li.submenu__item
                                            a(href="#").submenu__link Акции/распродажи
                                        li.submenu__item
                                            a(href="#").submenu__link Ванна и туалет
                                        li.submenu__item
                                            a(href="#").submenu__link Баня и сауна
                                        li.submenu__item
                                            a(href="#").submenu__link Посуда
                                        li.submenu__item
                                            a(href="#").submenu__link Крючки
                                        li.submenu__item
                                            a(href="#").submenu__link Хозтовары
                                        li.submenu__item
                                            a(href="#").submenu__link Кухонные принадлежности, текстиль
                                li.menu__item
                                    a(href='#').menu__link Кухня, хотовары
                                    ul.submenu
                                        li.submenu__item
                                            a(href="#@").submenu__link.backArrow Назад
                                        li.submenu__item
                                            a(href="#").submenu__link Кухня, хотовары
                                        li.submenu__item
                                            a(href="#").submenu__link Посуда
                                        li.submenu__item
                                            a(href="#").submenu__link Ванна и туалет
                                        li.submenu__item
                                            a(href="#").submenu__link Баня и сауна
                                        li.submenu__item
                                            a(href="#").submenu__link Посуда
                                        li.submenu__item
                                            a(href="#").submenu__link Крючки
                                        li.submenu__item
                                            a(href="#").submenu__link Хозтовары
                                        li.submenu__item
                                            a(href="#").submenu__link Кухонные принадлежности, текстиль
                                li.menu__item
                                    a(href='#').menu__link Мешки с ручками
                                    ul.submenu
                                        li.submenu__item
                                            a(href="#@").submenu__link.backArrow Назад
                                        li.submenu__item
                                            a(href="#").submenu__link Мешки с ручками
                                        li.submenu__item
                                            a(href="#").submenu__link Посуда
                                        li.submenu__item
                                            a(href="#").submenu__link Ванна и туалет
                                        li.submenu__item
                                            a(href="#").submenu__link Баня и сауна
                                        li.submenu__item
                                            a(href="#").submenu__link Посуда
                                        li.submenu__item
                                            a(href="#").submenu__link Крючки
                                        li.submenu__item
                                            a(href="#").submenu__link Хозтовары
                                        li.submenu__item
                                            a(href="#").submenu__link Кухонные принадлежности, текстиль
                                li.menu__item
                                    a(href='#').menu__link Декор и подарки
                                li.menu__item
                                    a(href='#').menu__link Сумки-тележки
                                    ul.submenu
                                        li.submenu__item
                                            a(href="#@").submenu__link.backArrow Назад
                                        li.submenu__item
                                            a(href='#').submenu__link Сумки-тележки
                                        li.submenu__item
                                            a(href="#").submenu__link Посуда
                                        li.submenu__item
                                            a(href="#").submenu__link Ванна и туалет
                                        li.submenu__item
                                            a(href="#").submenu__link Баня и сауна
                                        li.submenu__item
                                            a(href="#").submenu__link Посуда
                                        li.submenu__item
                                            a(href="#").submenu__link Крючки
                                        li.submenu__item
                                            a(href="#").submenu__link Хозтовары
                                        li.submenu__item
                                            a(href="#").submenu__link Кухонные принадлежности, текстиль
                                li.menu__item
                                    a(href='#').menu__link Дача, пикник, туризм
                                    ul.submenu
                                        li.submenu__item
                                            a(href="#@").submenu__link.backArrow Назад
                                        li.submenu__item
                                            a(href='#').submenu__link Дача, пикник, туризм
                                        li.submenu__item
                                            a(href="#").submenu__link Посуда
                                        li.submenu__item
                                            a(href="#").submenu__link Ванна и туалет
                                        li.submenu__item
                                            a(href="#").submenu__link Баня и сауна
                                        li.submenu__item
                                            a(href="#").submenu__link Посуда
                                        li.submenu__item
                                            a(href="#").submenu__link Крючки
                                        li.submenu__item
                                            a(href="#").submenu__link Хозтовары
                                        li.submenu__item
                                            a(href="#").submenu__link Кухонные принадлежности, текстиль
                                li.menu__item
                                    a(href='#').menu__link Репелленты
                                li.menu__item
                                    a(href='#').menu__link Новый год
                            .phones
                                a(href="")
                                    img(src="./img/mts.png", alt="MTS")
                                    | +375 33 666 90 10
                                a(href="")
                                    img(src="./img/a1.png", alt="A1")
                                    | +375 29 666 80 04
                                a(href="#")
                                        i(class="fa-solid fa-phone")
                                        | +375 33 666 90 10
                                a(href="#")
                                        i(class="fa-solid fa-phone")
                                        |+375 33 666 90 10
                                a(href="#")
                                        i(class="fa-solid fa-phone")
                                        | +375 33 666 90 10
                                a(href="#")
                                        i(class="fa-solid fa-phone-volume")
                                        | Обратный звонок
                            .contacts
                                a(href="")
                                    i(class="fa-solid fa-envelope")
                                    | info@monami.by
                                a(href="")
                                    i(class="fa-solid fa-location-dot")
                                    | г. Минск, ул. Бабушкина, дом 6А, комната 203
                                div
                                    i(class="fa-solid fa-clock")
                                    | Пн-Пт, с
                                    b 9:00
                                    | до
                                    b 18:00
                    .mobile-overlay
            ul.menudesktop
                li.menu__item
                    a(href='http://localhost:9999/').menu__link Новое поступление
                    ul.submenu
                        li.submenu__item
                            a(href="###").submenu__link Ванна и туалет
                        li.submenu__item
                            a(href="#").submenu__link Баня и сауна
                        li.submenu__item
                            a(href="#").submenu__link Посуда
                        li.submenu__item
                            a(href="#").submenu__link Крючки
                        li.submenu__item
                            a(href="#").submenu__link Хозтовары
                        li.submenu__item
                            a(href="#").submenu__link Кухонные принадлежности, текстиль
                li.menu__item
                    a(href='#').menu__link Акции/распродажи
                    ul.submenu
                        li.submenu__item
                            a(href="#").submenu__link Новое поступление
                        li.submenu__item
                            a(href="###").submenu__link Ванна и туалет
                        li.submenu__item
                            a(href="#").submenu__link Баня и сауна
                        li.submenu__item
                            a(href="#").submenu__link Посуда
                        li.submenu__item
                            a(href="#").submenu__link Крючки
                        li.submenu__item
                            a(href="#").submenu__link Хозтовары
                        li.submenu__item
                            a(href="#").submenu__link Кухонные принадлежности, текстиль
                li.menu__item
                    a(href='#').menu__link Кухня, хотовары
                    ul.submenu
                        li.submenu__item
                            a(href="#").submenu__link Посуда
                        li.submenu__item
                            a(href="#").submenu__link Ванна и туалет
                        li.submenu__item
                            a(href="#").submenu__link Баня и сауна
                        li.submenu__item
                            a(href="#").submenu__link Посуда
                        li.submenu__item
                            a(href="#").submenu__link Крючки
                        li.submenu__item
                            a(href="#").submenu__link Хозтовары
                        li.submenu__item
                            a(href="#").submenu__link Кухонные принадлежности, текстиль
                li.menu__item
                    a(href='#').menu__link Мешки с ручками
                    ul.submenu
                        li.submenu__item
                            a(href="#").submenu__link Посуда
                        li.submenu__item
                            a(href="#").submenu__link Ванна и туалет
                        li.submenu__item
                            a(href="#").submenu__link Баня и сауна
                        li.submenu__item
                            a(href="#").submenu__link Посуда
                        li.submenu__item
                            a(href="#").submenu__link Крючки
                        li.submenu__item
                            a(href="#").submenu__link Хозтовары
                        li.submenu__item
                            a(href="#").submenu__link Кухонные принадлежности, текстиль
                li.menu__item
                    a(href='#').menu__link Декор и подарки
                li.menu__item
                    a(href='#').menu__link Сумки-тележки
                    ul.submenu
                        li.submenu__item
                            a(href="#").submenu__link Посуда
                        li.submenu__item
                            a(href="#").submenu__link Ванна и туалет
                        li.submenu__item
                            a(href="#").submenu__link Баня и сауна
                        li.submenu__item
                            a(href="#").submenu__link Посуда
                        li.submenu__item
                            a(href="#").submenu__link Крючки
                        li.submenu__item
                            a(href="#").submenu__link Хозтовары
                        li.submenu__item
                            a(href="#").submenu__link Кухонные принадлежности, текстиль
                li.menu__item
                    a(href='#').menu__link Дача, пикник, туризм
                li.menu__item
                    a(href='#').menu__link Репелленты
                li.menu__item
                    a(href='#').menu__link Новый год
        main.main
            .container
                .main__row
                    ul.products
                        li.products__item
                            a(href="./product.html").products__link
                                .img
                                    img(src="./img/products/product.jpg", alt="")
                                    .img__bottom
                                        span.sale -20%
                                        button(type="button" data-fancybox data-src="./img/products/product.jpg" data-caption="Кружка MUG-288  350мл  8,6х8,8см(Mix)").view
                                            svg(viewBox="0 0 242.133 242.133" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                                                path(d="M227.133,83.033c8.283,0,15-6.716,15-15V15c0-8.284-6.717-15-15-15H174.1c-8.284,0-15,6.716-15,15 s6.716,15,15,15h16.82l-69.854,69.854L51.213,30h16.82c8.284,0,15-6.716,15-15s-6.716-15-15-15H15C6.717,0,0,6.716,0,15v53.033 c0,8.284,6.717,15,15,15c8.285,0,15-6.716,15-15v-16.82l69.854,69.854L30,190.92V174.1c0-8.284-6.715-15-15-15 c-8.283,0-15,6.716-15,15v53.033c0,8.284,6.717,15,15,15h53.033c8.284,0,15-6.716,15-15c0-8.284-6.716-15-15-15h-16.82 l69.854-69.854l69.854,69.854H174.1c-8.284,0-15,6.716-15,15c0,8.284,6.716,15,15,15h53.033c8.283,0,15-6.716,15-15V174.1 c0-8.284-6.717-15-15-15c-8.285,0-15,6.716-15,15v16.82l-69.854-69.854l69.854-69.854v16.82 C212.133,76.317,218.848,83.033,227.133,83.033z")
                                span.art код: 124413
                                h3 Кружка MUG-288
                                .price
                                    span Цена: 
                                        span 5,17 Руб.
                                    span 2,5 Руб.
                            .cart
                                button(type="button").basket В корзину
                                .counter
                                    button(type="button")
                                        i(class="fa-solid fa-minus")
                                    input(type="number" value='1')
                                    button(type="button")
                                        i(class="fa-solid fa-plus")
                        li.products__item
                            a(href="#").products__link
                                .img
                                    img(src="./img/products/product1.jpg", alt="")
                                    .img__bottom
                                        span.sale -20%
                                        button(type="button" data-fancybox data-src="./img/products/product1.jpg" data-caption="Кружка MUG-288  350мл  8,6х8,8см(Mix)").view
                                            svg(viewBox="0 0 242.133 242.133" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                                                path(d="M227.133,83.033c8.283,0,15-6.716,15-15V15c0-8.284-6.717-15-15-15H174.1c-8.284,0-15,6.716-15,15 s6.716,15,15,15h16.82l-69.854,69.854L51.213,30h16.82c8.284,0,15-6.716,15-15s-6.716-15-15-15H15C6.717,0,0,6.716,0,15v53.033 c0,8.284,6.717,15,15,15c8.285,0,15-6.716,15-15v-16.82l69.854,69.854L30,190.92V174.1c0-8.284-6.715-15-15-15 c-8.283,0-15,6.716-15,15v53.033c0,8.284,6.717,15,15,15h53.033c8.284,0,15-6.716,15-15c0-8.284-6.716-15-15-15h-16.82 l69.854-69.854l69.854,69.854H174.1c-8.284,0-15,6.716-15,15c0,8.284,6.716,15,15,15h53.033c8.283,0,15-6.716,15-15V174.1 c0-8.284-6.717-15-15-15c-8.285,0-15,6.716-15,15v16.82l-69.854-69.854l69.854-69.854v16.82 C212.133,76.317,218.848,83.033,227.133,83.033z")
                                span.art код: 124413
                                h3 Кружка
                                .price
                                    span Цена: 
                                        span 5,17 Руб.
                                    span 2,5 Руб.
                            .cart
                                button(type="button").basket В корзину
                                .counter
                                    button(type="button")
                                        i(class="fa-solid fa-minus")
                                    input(type="number" value='1')
                                    button(type="button")
                                        i(class="fa-solid fa-plus")
                        li.products__item
                            a(href="#").products__link
                                .img
                                    img(src="./img/products/product2.jpg", alt="")
                                    .img__bottom
                                        span.sale -20%
                                        button(type="button" data-fancybox data-src="./img/products/product2.jpg" data-caption="Кружка MUG-288  350мл  8,6х8,8см(Mix)").view
                                            svg(viewBox="0 0 242.133 242.133" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                                                path(d="M227.133,83.033c8.283,0,15-6.716,15-15V15c0-8.284-6.717-15-15-15H174.1c-8.284,0-15,6.716-15,15 s6.716,15,15,15h16.82l-69.854,69.854L51.213,30h16.82c8.284,0,15-6.716,15-15s-6.716-15-15-15H15C6.717,0,0,6.716,0,15v53.033 c0,8.284,6.717,15,15,15c8.285,0,15-6.716,15-15v-16.82l69.854,69.854L30,190.92V174.1c0-8.284-6.715-15-15-15 c-8.283,0-15,6.716-15,15v53.033c0,8.284,6.717,15,15,15h53.033c8.284,0,15-6.716,15-15c0-8.284-6.716-15-15-15h-16.82 l69.854-69.854l69.854,69.854H174.1c-8.284,0-15,6.716-15,15c0,8.284,6.716,15,15,15h53.033c8.283,0,15-6.716,15-15V174.1 c0-8.284-6.717-15-15-15c-8.285,0-15,6.716-15,15v16.82l-69.854-69.854l69.854-69.854v16.82 C212.133,76.317,218.848,83.033,227.133,83.033z")
                                span.art код: 124413
                                h3 Кружка MUG-288  350мл  8,6х8,8см(Mix)
                                .price
                                    span Цена: 
                                        span 5,17 Руб.
                                    span 2,5 Руб.
                            .cart
                                button(type="button").basket В корзину
                                .counter
                                    button(type="button")
                                        i(class="fa-solid fa-minus")
                                    input(type="number" value='1')
                                    button(type="button")
                                        i(class="fa-solid fa-plus")
                        li.products__item
                            a(href="#").products__link
                                .img
                                    img(src="./img/products/product3.jpg", alt="")
                                    .img__bottom
                                        span.sale -20%
                                        button(type="button" data-fancybox data-src="./img/products/product3.jpg" data-caption="Кружка MUG-288  350мл  8,6х8,8см(Mix)").view
                                            svg(viewBox="0 0 242.133 242.133" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                                                path(d="M227.133,83.033c8.283,0,15-6.716,15-15V15c0-8.284-6.717-15-15-15H174.1c-8.284,0-15,6.716-15,15 s6.716,15,15,15h16.82l-69.854,69.854L51.213,30h16.82c8.284,0,15-6.716,15-15s-6.716-15-15-15H15C6.717,0,0,6.716,0,15v53.033 c0,8.284,6.717,15,15,15c8.285,0,15-6.716,15-15v-16.82l69.854,69.854L30,190.92V174.1c0-8.284-6.715-15-15-15 c-8.283,0-15,6.716-15,15v53.033c0,8.284,6.717,15,15,15h53.033c8.284,0,15-6.716,15-15c0-8.284-6.716-15-15-15h-16.82 l69.854-69.854l69.854,69.854H174.1c-8.284,0-15,6.716-15,15c0,8.284,6.716,15,15,15h53.033c8.283,0,15-6.716,15-15V174.1 c0-8.284-6.717-15-15-15c-8.285,0-15,6.716-15,15v16.82l-69.854-69.854l69.854-69.854v16.82 C212.133,76.317,218.848,83.033,227.133,83.033z")
                                span.art код: 124413
                                h3 Кружка MUG-288  350мл  8,6х8,8см(Mix)
                                .price
                                    span Цена: 
                                        span 5,17 Руб.
                                    span 2,5 Руб.
                            .cart
                                button(type="button").basket В корзину
                                .counter
                                    button(type="button")
                                        i(class="fa-solid fa-minus")
                                    input(type="number" value='1')
                                    button(type="button")
                                        i(class="fa-solid fa-plus")
                        li.products__item
                            a(href="#").products__link
                                .img
                                    img(src="./img/products/product4.jpg", alt="")
                                    .img__bottom
                                        span.sale -20%
                                        button(type="button" data-fancybox data-src="./img/products/product4.jpg" data-caption="Кружка MUG-288  350мл  8,6х8,8см(Mix)").view
                                            svg(viewBox="0 0 242.133 242.133" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                                                path(d="M227.133,83.033c8.283,0,15-6.716,15-15V15c0-8.284-6.717-15-15-15H174.1c-8.284,0-15,6.716-15,15 s6.716,15,15,15h16.82l-69.854,69.854L51.213,30h16.82c8.284,0,15-6.716,15-15s-6.716-15-15-15H15C6.717,0,0,6.716,0,15v53.033 c0,8.284,6.717,15,15,15c8.285,0,15-6.716,15-15v-16.82l69.854,69.854L30,190.92V174.1c0-8.284-6.715-15-15-15 c-8.283,0-15,6.716-15,15v53.033c0,8.284,6.717,15,15,15h53.033c8.284,0,15-6.716,15-15c0-8.284-6.716-15-15-15h-16.82 l69.854-69.854l69.854,69.854H174.1c-8.284,0-15,6.716-15,15c0,8.284,6.716,15,15,15h53.033c8.283,0,15-6.716,15-15V174.1 c0-8.284-6.717-15-15-15c-8.285,0-15,6.716-15,15v16.82l-69.854-69.854l69.854-69.854v16.82 C212.133,76.317,218.848,83.033,227.133,83.033z")
                                span.art код: 124413
                                h3 Кружка MUG-288  350мл  8,6х8,8см(Mix) Кружка MUG-288  350мл  8,6х8,8см(Mix)
                                .price
                                    span Цена: 
                                        span 5,17 Руб.
                                    span 2,5 Руб.
                            .cart
                                button(type="button").basket В корзину
                                .counter
                                    button(type="button")
                                        i(class="fa-solid fa-minus")
                                    input(type="number" value='1')
                                    button(type="button")
                                        i(class="fa-solid fa-plus")
                        li.products__item
                            a(href="#").products__link
                                .img
                                    img(src="./img/products/product5.jpg", alt="")
                                    .img__bottom
                                        span.sale -20%
                                        button(type="button" data-fancybox data-src="./img/products/product5.jpg" data-caption="Кружка MUG-288  350мл  8,6х8,8см(Mix)").view
                                            svg(viewBox="0 0 242.133 242.133" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                                                path(d="M227.133,83.033c8.283,0,15-6.716,15-15V15c0-8.284-6.717-15-15-15H174.1c-8.284,0-15,6.716-15,15 s6.716,15,15,15h16.82l-69.854,69.854L51.213,30h16.82c8.284,0,15-6.716,15-15s-6.716-15-15-15H15C6.717,0,0,6.716,0,15v53.033 c0,8.284,6.717,15,15,15c8.285,0,15-6.716,15-15v-16.82l69.854,69.854L30,190.92V174.1c0-8.284-6.715-15-15-15 c-8.283,0-15,6.716-15,15v53.033c0,8.284,6.717,15,15,15h53.033c8.284,0,15-6.716,15-15c0-8.284-6.716-15-15-15h-16.82 l69.854-69.854l69.854,69.854H174.1c-8.284,0-15,6.716-15,15c0,8.284,6.716,15,15,15h53.033c8.283,0,15-6.716,15-15V174.1 c0-8.284-6.717-15-15-15c-8.285,0-15,6.716-15,15v16.82l-69.854-69.854l69.854-69.854v16.82 C212.133,76.317,218.848,83.033,227.133,83.033z")
                                span.art код: 124413
                                h3 Кружка MUG-288  350мл  8,6х8,8см(Mix)
                                .price
                                    span Цена: 
                                        span 5,17 Руб.
                                    span 2,5 Руб.
                            .cart
                                button(type="button").basket В корзину
                                .counter
                                    button(type="button")
                                        i(class="fa-solid fa-minus")
                                    input(type="number" value='1')
                                    button(type="button")
                                        i(class="fa-solid fa-plus")
                        li.products__item
                            a(href="#").products__link
                                .img
                                    img(src="./img/products/product6.jpg", alt="")
                                    .img__bottom
                                        span.sale -20%
                                        button(type="button" data-fancybox data-src="./img/products/product6.jpg" data-caption="Кружка MUG-288  350мл  8,6х8,8см(Mix)").view
                                            svg(viewBox="0 0 242.133 242.133" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                                                path(d="M227.133,83.033c8.283,0,15-6.716,15-15V15c0-8.284-6.717-15-15-15H174.1c-8.284,0-15,6.716-15,15 s6.716,15,15,15h16.82l-69.854,69.854L51.213,30h16.82c8.284,0,15-6.716,15-15s-6.716-15-15-15H15C6.717,0,0,6.716,0,15v53.033 c0,8.284,6.717,15,15,15c8.285,0,15-6.716,15-15v-16.82l69.854,69.854L30,190.92V174.1c0-8.284-6.715-15-15-15 c-8.283,0-15,6.716-15,15v53.033c0,8.284,6.717,15,15,15h53.033c8.284,0,15-6.716,15-15c0-8.284-6.716-15-15-15h-16.82 l69.854-69.854l69.854,69.854H174.1c-8.284,0-15,6.716-15,15c0,8.284,6.716,15,15,15h53.033c8.283,0,15-6.716,15-15V174.1 c0-8.284-6.717-15-15-15c-8.285,0-15,6.716-15,15v16.82l-69.854-69.854l69.854-69.854v16.82 C212.133,76.317,218.848,83.033,227.133,83.033z")
                                span.art код: 124413
                                h3 Кружка MUG-288  350мл  8,6х8,8см(Mix)
                                .price
                                    span Цена: 
                                        span 5,17 Руб.
                                    span 2,5 Руб.
                            .cart
                                button(type="button").basket В корзину
                                .counter
                                    button(type="button")
                                        i(class="fa-solid fa-minus")
                                    input(type="number" value='1')
                                    button(type="button")
                                        i(class="fa-solid fa-plus")
                        li.products__item
                            a(href="#").products__link
                                .img
                                    img(src="./img/products/product7.jpg", alt="")
                                    .img__bottom
                                        span.sale -20%
                                        button(type="button" data-fancybox data-src="./img/products/product7.jpg" data-caption="Кружка MUG-288  350мл  8,6х8,8см(Mix)").view
                                            svg(viewBox="0 0 242.133 242.133" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                                                path(d="M227.133,83.033c8.283,0,15-6.716,15-15V15c0-8.284-6.717-15-15-15H174.1c-8.284,0-15,6.716-15,15 s6.716,15,15,15h16.82l-69.854,69.854L51.213,30h16.82c8.284,0,15-6.716,15-15s-6.716-15-15-15H15C6.717,0,0,6.716,0,15v53.033 c0,8.284,6.717,15,15,15c8.285,0,15-6.716,15-15v-16.82l69.854,69.854L30,190.92V174.1c0-8.284-6.715-15-15-15 c-8.283,0-15,6.716-15,15v53.033c0,8.284,6.717,15,15,15h53.033c8.284,0,15-6.716,15-15c0-8.284-6.716-15-15-15h-16.82 l69.854-69.854l69.854,69.854H174.1c-8.284,0-15,6.716-15,15c0,8.284,6.716,15,15,15h53.033c8.283,0,15-6.716,15-15V174.1 c0-8.284-6.717-15-15-15c-8.285,0-15,6.716-15,15v16.82l-69.854-69.854l69.854-69.854v16.82 C212.133,76.317,218.848,83.033,227.133,83.033z")
                                span.art код: 124413
                                h3 Кружка MUG-288  350мл  8,6х8,8см(Mix)
                                .price
                                    span Цена: 
                                        span 5,17 Руб.
                                    span 2,5 Руб.
                            .cart
                                button(type="button").basket В корзину
                                .counter
                                    button(type="button")
                                        i(class="fa-solid fa-minus")
                                    input(type="number" value='1')
                                    button(type="button")
                                        i(class="fa-solid fa-plus")
                        li.products__item
                            a(href="#").products__link
                                .img
                                    img(src="./img/products/product2.jpg", alt="")
                                    .img__bottom
                                        span.sale -20%
                                        button(type="button" data-fancybox data-src="./img/products/product2.jpg" data-caption="Кружка MUG-288  350мл  8,6х8,8см(Mix)").view
                                            svg(viewBox="0 0 242.133 242.133" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                                                path(d="M227.133,83.033c8.283,0,15-6.716,15-15V15c0-8.284-6.717-15-15-15H174.1c-8.284,0-15,6.716-15,15 s6.716,15,15,15h16.82l-69.854,69.854L51.213,30h16.82c8.284,0,15-6.716,15-15s-6.716-15-15-15H15C6.717,0,0,6.716,0,15v53.033 c0,8.284,6.717,15,15,15c8.285,0,15-6.716,15-15v-16.82l69.854,69.854L30,190.92V174.1c0-8.284-6.715-15-15-15 c-8.283,0-15,6.716-15,15v53.033c0,8.284,6.717,15,15,15h53.033c8.284,0,15-6.716,15-15c0-8.284-6.716-15-15-15h-16.82 l69.854-69.854l69.854,69.854H174.1c-8.284,0-15,6.716-15,15c0,8.284,6.716,15,15,15h53.033c8.283,0,15-6.716,15-15V174.1 c0-8.284-6.717-15-15-15c-8.285,0-15,6.716-15,15v16.82l-69.854-69.854l69.854-69.854v16.82 C212.133,76.317,218.848,83.033,227.133,83.033z")
                                span.art код: 124413
                                h3 Кружка MUG-288  350мл  8,6х8,8см(Mix)
                                .price
                                    span Цена: 
                                        span 5,17 Руб.
                                    span 2,5 Руб.
                            .cart
                                button(type="button").basket В корзину
                                .counter
                                    button(type="button")
                                        i(class="fa-solid fa-minus")
                                    input(type="number" value='1')
                                    button(type="button")
                                        i(class="fa-solid fa-plus")
                        li.products__item
                            a(href="#").products__link
                                .img
                                    img(src="./img/products/product4.jpg", alt="")
                                    .img__bottom
                                        span.sale -20%
                                        button(type="button" data-fancybox data-src="./img/products/product4.jpg" data-caption="Кружка MUG-288  350мл  8,6х8,8см(Mix)").view
                                            svg(viewBox="0 0 242.133 242.133" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                                                path(d="M227.133,83.033c8.283,0,15-6.716,15-15V15c0-8.284-6.717-15-15-15H174.1c-8.284,0-15,6.716-15,15 s6.716,15,15,15h16.82l-69.854,69.854L51.213,30h16.82c8.284,0,15-6.716,15-15s-6.716-15-15-15H15C6.717,0,0,6.716,0,15v53.033 c0,8.284,6.717,15,15,15c8.285,0,15-6.716,15-15v-16.82l69.854,69.854L30,190.92V174.1c0-8.284-6.715-15-15-15 c-8.283,0-15,6.716-15,15v53.033c0,8.284,6.717,15,15,15h53.033c8.284,0,15-6.716,15-15c0-8.284-6.716-15-15-15h-16.82 l69.854-69.854l69.854,69.854H174.1c-8.284,0-15,6.716-15,15c0,8.284,6.716,15,15,15h53.033c8.283,0,15-6.716,15-15V174.1 c0-8.284-6.717-15-15-15c-8.285,0-15,6.716-15,15v16.82l-69.854-69.854l69.854-69.854v16.82 C212.133,76.317,218.848,83.033,227.133,83.033z")
                                span.art код: 124413
                                h3 Кружка MUG-288  350мл  8,6х8,8см(Mix)
                                .price
                                    span Цена: 
                                        span 5,17 Руб.
                                    span 2,5 Руб.
                            .cart
                                button(type="button").basket В корзину
                                .counter
                                    button(type="button")
                                        i(class="fa-solid fa-minus")
                                    input(type="number" value='1')
                                    button(type="button")
                                        i(class="fa-solid fa-plus")
                        li.products__item
                            a(href="#").products__link
                                .img
                                    img(src="./img/products/product1.jpg", alt="")
                                    .img__bottom
                                        span.sale -20%
                                        button(type="button" data-fancybox data-src="./img/products/product1.jpg" data-caption="Кружка MUG-288  350мл  8,6х8,8см(Mix)").view
                                            svg(viewBox="0 0 242.133 242.133" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                                                path(d="M227.133,83.033c8.283,0,15-6.716,15-15V15c0-8.284-6.717-15-15-15H174.1c-8.284,0-15,6.716-15,15 s6.716,15,15,15h16.82l-69.854,69.854L51.213,30h16.82c8.284,0,15-6.716,15-15s-6.716-15-15-15H15C6.717,0,0,6.716,0,15v53.033 c0,8.284,6.717,15,15,15c8.285,0,15-6.716,15-15v-16.82l69.854,69.854L30,190.92V174.1c0-8.284-6.715-15-15-15 c-8.283,0-15,6.716-15,15v53.033c0,8.284,6.717,15,15,15h53.033c8.284,0,15-6.716,15-15c0-8.284-6.716-15-15-15h-16.82 l69.854-69.854l69.854,69.854H174.1c-8.284,0-15,6.716-15,15c0,8.284,6.716,15,15,15h53.033c8.283,0,15-6.716,15-15V174.1 c0-8.284-6.717-15-15-15c-8.285,0-15,6.716-15,15v16.82l-69.854-69.854l69.854-69.854v16.82 C212.133,76.317,218.848,83.033,227.133,83.033z")
                                span.art код: 124413
                                h3 Кружка MUG-288  350мл  8,6х8,8см(Mix)
                                .price
                                    span Цена: 
                                        span 5,17 Руб.
                                    span 2,5 Руб.
                            .cart
                                button(type="button").basket В корзину
                                .counter
                                    button(type="button")
                                        i(class="fa-solid fa-minus")
                                    input(type="number" value='1')
                                    button(type="button")
                                        i(class="fa-solid fa-plus")
        footer.footer
            .footer__top
                .container
                    .footer__row
                        ul.menu
                            li.menu__item
                                a(href="#").menu__link О компании
                            li.menu__item
                                a(href="#").menu__link Условия сотрудничества
                            li.menu__item
                                a(href="#").menu__link Оплата и Доставка
                            li.menu__item
                                a(href="#").menu__link Уцененный товар
                            li.menu__item
                                a(href="#").menu__link Акции
                            li.menu__item
                                a(href="#").menu__link Вакансии
                            li.menu__item
                                a(href="#").menu__link Видео Гирлянды
                            li.menu__item
                                a(href="#").menu__link Контакты
                        .phones
                            a(href="")
                                img(src="./img/mts.png", alt="MTS")
                                | +375 33 666 90 10
                            a(href="")
                                img(src="./img/a1.png", alt="A1")
                                | +375 29 666 80 04
                            a(href="#")
                                i(class="fa-solid fa-phone")
                                | +375 33 666 90 10
                            a(href="#")
                                i(class="fa-solid fa-phone")
                                |+375 33 666 90 10
                            a(href="#")
                                i(class="fa-solid fa-phone")
                                | +375 33 666 90 10
                            a(href="#")
                                i(class="fa-solid fa-phone-volume")
                                | Обратный звонок
                        .contacts
                            a(href="")
                                i(class="fa-solid fa-envelope")
                                | info@monami.by
                            a(href="")
                                i(class="fa-solid fa-location-dot")
                                | г. Минск, ул. Бабушкина, дом 6А, комната 203
                            div
                                i(class="fa-solid fa-clock")
                                | Пн-Пт, с
                                b 9:00
                                | до
                                b 18:00
            .footer__bottom
                .container
                    .footer__row
                        p.text Республика Беларусь, ООО "Мон Ами", УНП 191029787. Дата регистрации в торговом реестре интернет-магазина monami.by 03.05.2021 номер гос. регистрации 509027. Свидетельство о гос. регистрации N191029787 от 29.05.2008, выдано Минским городским исполнительным комитетом
                        .payment
                            img(src="./img/webpay.png", alt="")
        .modal
            form(action="")
                button(type="button").close
                    i(class="fa-solid fa-xmark")
                label Логин
                    input(type="text" placeholder="Логин")
                label Пароль
                    input(type="password" placeholder="Пароль")
                label Запомнить меня на этом устройстве
                    input(type="checkbox")
                button(type="button").entry Войти
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js")
        script(src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js")
        script(src='./main.js')