doctype html
html
  head
    title="Монами"
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name='description', content="")
    meta(name='keywords', content="")
    meta(name="author", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes, viewport-fit=cover")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css")
    link(rel="icon" type="image/x-icon" href="./favicon.ico")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css")
    link(rel="stylesheet", href="./main.css")
  body
    .wrap
        header.header
            .container
                .header__row
                    a(href='#').logo
                        img(src="./img/logo.jpg", alt="Монами")
                    nav.navdesktop
                        .navdesktop__top
                            .phones
                                a(href="#")
                                    img(src="./img/mts.png", alt="MTS")
                                    | +375 33 666 90 10
                                .submenu
                                    a(href="##")
                                        img(src="./img/a1.png", alt="A1")
                                        | +375 29 666 80 04
                                    a(href="#")
                                        i(class="fa-solid fa-phone")
                                        | +375 33 666 90 10
                                    a(href="#")
                                        i(class="fa-solid fa-phone")
                                        |+375 33 666 90 10
                                    a(href="#")
                                        i(class="fa-solid fa-phone")
                                        | +375 33 666 90 10
                                    a(href="#")
                                        i(class="fa-solid fa-phone-volume")
                                        | Обратный звонок
                            ul.menu
                                li.menu__item
                                    a(href="").menu__link О компании
                                li.menu__item
                                    a(href="").menu__link Условия сотрудничества
                                li.menu__item
                                    a(href="").menu__link Оплата и Доставка
                            .contacts
                                a(href="")
                                    i(class="fa-solid fa-envelope")
                                    | info@monami.by
                                a(href="")
                                    i(class="fa-solid fa-location-dot")
                                    | г. Минск, ул. Бабушкина, дом 6А, комната 203
                            .time-work
                                i(class="fa-solid fa-clock")
                                |  Пн-Пт, с 
                                b 9:00 
                                | до 
                                b 18:00
                        .navdesktop__bottom
                            a(href="./products.html").all-items Все товары
                            .search-input
                                input(type="text" placeholder="Поиск")
                            //- button(type="button").favorite
                            //-     i(class="fa-regular fa-heart")
                            //-     span.favorite__count 10
                            button(type="button").login Войти
                            button(type="button").basket
                                i(class="fa-solid fa-cart-shopping")
                                span.basket__count 0
                    nav.navmobile
                        .search-input#searchInput
                            input(type="text" placeholder="Поиск")
                            button(type="button").search-input__close
                                i(class="fa-solid fa-xmark")
                        button(type="button").search#btnSearch
                            i(class="fa-solid fa-magnifying-glass")
                        button(type="button").phones#btnPhones
                            i(class="fa-solid fa-phone")
                            .phones__list
                                a(href="")
                                    img(src="./img/mts.png", alt="MTS")
                                    | +375 33 666 90 10
                                a(href="")
                                    img(src="./img/a1.png", alt="A1")
                                    | +375 29 666 80 04
                                a(href="#")
                                    i(class="fa-solid fa-phone")
                                    | +375 33 666 90 10
                                a(href="#")
                                    i(class="fa-solid fa-phone")
                                    |+375 33 666 90 10
                                a(href="#")
                                    i(class="fa-solid fa-phone")
                                    | +375 33 666 90 10
                                a(href="#")
                                    i(class="fa-solid fa-phone-volume")
                                    | Обратный звонок
                        button(type="button").basket
                            i(class="fa-solid fa-cart-shopping")
                            span.basket__count 0
                        button(type="button").login
                            i(class="fa-solid fa-user")
                        button(type="button").burger
                                    span
                                    span
                                    span
                    nav.menumobile#menumobile
                        .menumobile__wrap
                            ul.menu
                                li.menu__item
                                    a(href="./products.html").menu__link Все товары
                                li.menu__item
                                    a(href='####').menu__link Новое поступление
                                    ul.submenu
                                        li.submenu__item
                                            a(href="#@").submenu__link.backArrow Назад
                                        li.submenu__item
                                            a(href="#").submenu__link Новое поступление
                                        li.submenu__item
                                            a(href="###").submenu__link Ванна и туалет
                                        li.submenu__item
                                            a(href="#").submenu__link Баня и сауна
                                        li.submenu__item
                                            a(href="#").submenu__link Посуда
                                        li.submenu__item
                                            a(href="#").submenu__link Крючки
                                        li.submenu__item
                                            a(href="#").submenu__link Хозтовары
                                        li.submenu__item
                                            a(href="#").submenu__link Кухонные принадлежности, текстиль
                                li.menu__item
                                    a(href='#!').menu__link Акции/распродажи
                                    ul.submenu
                                        li.submenu__item
                                            a(href="#@").submenu__link.backArrow Назад
                                        li.submenu__item
                                            a(href="#").submenu__link Акции/распродажи
                                        li.submenu__item
                                            a(href="#").submenu__link Ванна и туалет
                                        li.submenu__item
                                            a(href="#").submenu__link Баня и сауна
                                        li.submenu__item
                                            a(href="#").submenu__link Посуда
                                        li.submenu__item
                                            a(href="#").submenu__link Крючки
                                        li.submenu__item
                                            a(href="#").submenu__link Хозтовары
                                        li.submenu__item
                                            a(href="#").submenu__link Кухонные принадлежности, текстиль
                                li.menu__item
                                    a(href='#').menu__link Кухня, хотовары
                                    ul.submenu
                                        li.submenu__item
                                            a(href="#@").submenu__link.backArrow Назад
                                        li.submenu__item
                                            a(href="#").submenu__link Кухня, хотовары
                                        li.submenu__item
                                            a(href="#").submenu__link Посуда
                                        li.submenu__item
                                            a(href="#").submenu__link Ванна и туалет
                                        li.submenu__item
                                            a(href="#").submenu__link Баня и сауна
                                        li.submenu__item
                                            a(href="#").submenu__link Посуда
                                        li.submenu__item
                                            a(href="#").submenu__link Крючки
                                        li.submenu__item
                                            a(href="#").submenu__link Хозтовары
                                        li.submenu__item
                                            a(href="#").submenu__link Кухонные принадлежности, текстиль
                                li.menu__item
                                    a(href='#').menu__link Мешки с ручками
                                    ul.submenu
                                        li.submenu__item
                                            a(href="#@").submenu__link.backArrow Назад
                                        li.submenu__item
                                            a(href="#").submenu__link Мешки с ручками
                                        li.submenu__item
                                            a(href="#").submenu__link Посуда
                                        li.submenu__item
                                            a(href="#").submenu__link Ванна и туалет
                                        li.submenu__item
                                            a(href="#").submenu__link Баня и сауна
                                        li.submenu__item
                                            a(href="#").submenu__link Посуда
                                        li.submenu__item
                                            a(href="#").submenu__link Крючки
                                        li.submenu__item
                                            a(href="#").submenu__link Хозтовары
                                        li.submenu__item
                                            a(href="#").submenu__link Кухонные принадлежности, текстиль
                                li.menu__item
                                    a(href='#').menu__link Декор и подарки
                                li.menu__item
                                    a(href='#').menu__link Сумки-тележки
                                    ul.submenu
                                        li.submenu__item
                                            a(href="#@").submenu__link.backArrow Назад
                                        li.submenu__item
                                            a(href='#').submenu__link Сумки-тележки
                                        li.submenu__item
                                            a(href="#").submenu__link Посуда
                                        li.submenu__item
                                            a(href="#").submenu__link Ванна и туалет
                                        li.submenu__item
                                            a(href="#").submenu__link Баня и сауна
                                        li.submenu__item
                                            a(href="#").submenu__link Посуда
                                        li.submenu__item
                                            a(href="#").submenu__link Крючки
                                        li.submenu__item
                                            a(href="#").submenu__link Хозтовары
                                        li.submenu__item
                                            a(href="#").submenu__link Кухонные принадлежности, текстиль
                                li.menu__item
                                    a(href='#').menu__link Дача, пикник, туризм
                                    ul.submenu
                                        li.submenu__item
                                            a(href="#@").submenu__link.backArrow Назад
                                        li.submenu__item
                                            a(href='#').submenu__link Дача, пикник, туризм
                                        li.submenu__item
                                            a(href="#").submenu__link Посуда
                                        li.submenu__item
                                            a(href="#").submenu__link Ванна и туалет
                                        li.submenu__item
                                            a(href="#").submenu__link Баня и сауна
                                        li.submenu__item
                                            a(href="#").submenu__link Посуда
                                        li.submenu__item
                                            a(href="#").submenu__link Крючки
                                        li.submenu__item
                                            a(href="#").submenu__link Хозтовары
                                        li.submenu__item
                                            a(href="#").submenu__link Кухонные принадлежности, текстиль
                                li.menu__item
                                    a(href='#').menu__link Репелленты
                                li.menu__item
                                    a(href='#').menu__link Новый год
                            .phones
                                a(href="")
                                    img(src="./img/mts.png", alt="MTS")
                                    | +375 33 666 90 10
                                a(href="")
                                    img(src="./img/a1.png", alt="A1")
                                    | +375 29 666 80 04
                                a(href="#")
                                        i(class="fa-solid fa-phone")
                                        | +375 33 666 90 10
                                a(href="#")
                                        i(class="fa-solid fa-phone")
                                        |+375 33 666 90 10
                                a(href="#")
                                        i(class="fa-solid fa-phone")
                                        | +375 33 666 90 10
                                a(href="#")
                                        i(class="fa-solid fa-phone-volume")
                                        | Обратный звонок
                            .contacts
                                a(href="")
                                    i(class="fa-solid fa-envelope")
                                    | info@monami.by
                                a(href="")
                                    i(class="fa-solid fa-location-dot")
                                    | г. Минск, ул. Бабушкина, дом 6А, комната 203
                                div
                                    i(class="fa-solid fa-clock")
                                    | Пн-Пт, с
                                    b 9:00
                                    | до
                                    b 18:00
                    .mobile-overlay
            ul.menudesktop
                li.menu__item
                    a(href='http://localhost:9999/').menu__link Новое поступление
                    ul.submenu
                        li.submenu__item
                            a(href="###").submenu__link Ванна и туалет
                        li.submenu__item
                            a(href="#").submenu__link Баня и сауна
                        li.submenu__item
                            a(href="#").submenu__link Посуда
                        li.submenu__item
                            a(href="#").submenu__link Крючки
                        li.submenu__item
                            a(href="#").submenu__link Хозтовары
                        li.submenu__item
                            a(href="#").submenu__link Кухонные принадлежности, текстиль
                li.menu__item
                    a(href='#').menu__link Акции/распродажи
                    ul.submenu
                        li.submenu__item
                            a(href="#").submenu__link Новое поступление
                        li.submenu__item
                            a(href="###").submenu__link Ванна и туалет
                        li.submenu__item
                            a(href="#").submenu__link Баня и сауна
                        li.submenu__item
                            a(href="#").submenu__link Посуда
                        li.submenu__item
                            a(href="#").submenu__link Крючки
                        li.submenu__item
                            a(href="#").submenu__link Хозтовары
                        li.submenu__item
                            a(href="#").submenu__link Кухонные принадлежности, текстиль
                li.menu__item
                    a(href='#').menu__link Кухня, хотовары
                    ul.submenu
                        li.submenu__item
                            a(href="#").submenu__link Посуда
                        li.submenu__item
                            a(href="#").submenu__link Ванна и туалет
                        li.submenu__item
                            a(href="#").submenu__link Баня и сауна
                        li.submenu__item
                            a(href="#").submenu__link Посуда
                        li.submenu__item
                            a(href="#").submenu__link Крючки
                        li.submenu__item
                            a(href="#").submenu__link Хозтовары
                        li.submenu__item
                            a(href="#").submenu__link Кухонные принадлежности, текстиль
                li.menu__item
                    a(href='#').menu__link Мешки с ручками
                    ul.submenu
                        li.submenu__item
                            a(href="#").submenu__link Посуда
                        li.submenu__item
                            a(href="#").submenu__link Ванна и туалет
                        li.submenu__item
                            a(href="#").submenu__link Баня и сауна
                        li.submenu__item
                            a(href="#").submenu__link Посуда
                        li.submenu__item
                            a(href="#").submenu__link Крючки
                        li.submenu__item
                            a(href="#").submenu__link Хозтовары
                        li.submenu__item
                            a(href="#").submenu__link Кухонные принадлежности, текстиль
                li.menu__item
                    a(href='#').menu__link Декор и подарки
                li.menu__item
                    a(href='#').menu__link Сумки-тележки
                    ul.submenu
                        li.submenu__item
                            a(href="#").submenu__link Посуда
                        li.submenu__item
                            a(href="#").submenu__link Ванна и туалет
                        li.submenu__item
                            a(href="#").submenu__link Баня и сауна
                        li.submenu__item
                            a(href="#").submenu__link Посуда
                        li.submenu__item
                            a(href="#").submenu__link Крючки
                        li.submenu__item
                            a(href="#").submenu__link Хозтовары
                        li.submenu__item
                            a(href="#").submenu__link Кухонные принадлежности, текстиль
                li.menu__item
                    a(href='#').menu__link Дача, пикник, туризм
                li.menu__item
                    a(href='#').menu__link Репелленты
                li.menu__item
                    a(href='#').menu__link Новый год
        main.main
            .container
                .main__row
                    .product
                        .product__carousel
                            .product__carousel-item
                                .swiper.carousel-product2
                                    .swiper-wrapper
                                        .swiper-slide
                                            img(src="./img/slide.jpg", alt="")
                                        .swiper-slide
                                            img(src="./img/slide1.jpg", alt="")
                                        .swiper-slide
                                            img(src="./img/slide2.jpg", alt="")
                                        .swiper-slide
                                            img(src="./img/slide3.jpg", alt="")
                                        .swiper-slide
                                            img(src="./img/slide4.jpg", alt="")
                                        .swiper-slide
                                            img(src="./img/slide5.jpg", alt="")
                            .product__carousel-item
                                .swiper.carousel-product
                                    .swiper-wrapper
                                        .swiper-slide
                                            img(src="./img/slide.jpg", alt="")
                                        .swiper-slide
                                            img(src="./img/slide1.jpg", alt="")
                                        .swiper-slide
                                            img(src="./img/slide2.jpg", alt="")
                                        .swiper-slide
                                            img(src="./img/slide3.jpg", alt="")
                                        .swiper-slide
                                            img(src="./img/slide4.jpg", alt="")
                                        .swiper-slide
                                            img(src="./img/slide5.jpg", alt="")
                                    .swiper-button-prev
                                    .swiper-button-next
                        .product__info
                            span.art код: 124413
                            h3 Кружка MUG-288  350мл  8,6х8,8см(Mix) 
                            .price
                                span Цена: 
                                    span 5,17 Руб.
                                span 2,5 Руб.
                            .cart
                                button(type="button" data-fancybox data-type="image" data-caption="This image has a caption").basket В корзину
                                .counter
                                    button(type="button")
                                        i(class="fa-solid fa-minus")
                                    input(type="number" value='1')
                                    button(type="button")
                                        i(class="fa-solid fa-plus")
                            p.manufacturer
                                span Производитель: 
                                | SELLERS UNION CO.,LTD., 19F №.1 NINGBO, RESEARCH DEVELOPMENT PARK 399 JUXIAN ROAD NATIONAL HI-TECH ZONE,NINGBO,315103 Китай
                            p.info Сумка для косметики с запоминающимся внешним видом и продуманным дизайном, сумка идеально подходят для личного использования. Изготовленная из качественного материала. Размер 23x16.5x23.5 позволяет эргономично разместить самые необходимые косметические средства и др. мелочи для путешествий и хранения дома. Крышка с зеркалом поможет вам насладиться процессом использования своих любимых косметических продуктов.
        footer.footer
            .footer__top
                .container
                    .footer__row
                        ul.menu
                            li.menu__item
                                a(href="#").menu__link О компании
                            li.menu__item
                                a(href="#").menu__link Условия сотрудничества
                            li.menu__item
                                a(href="#").menu__link Оплата и Доставка
                            li.menu__item
                                a(href="#").menu__link Уцененный товар
                            li.menu__item
                                a(href="#").menu__link Акции
                            li.menu__item
                                a(href="#").menu__link Вакансии
                            li.menu__item
                                a(href="#").menu__link Видео Гирлянды
                            li.menu__item
                                a(href="#").menu__link Контакты
                        .phones
                            a(href="")
                                img(src="./img/mts.png", alt="MTS")
                                | +375 33 666 90 10
                            a(href="")
                                img(src="./img/a1.png", alt="A1")
                                | +375 29 666 80 04
                            a(href="#")
                                i(class="fa-solid fa-phone")
                                | +375 33 666 90 10
                            a(href="#")
                                i(class="fa-solid fa-phone")
                                |+375 33 666 90 10
                            a(href="#")
                                i(class="fa-solid fa-phone")
                                | +375 33 666 90 10
                            a(href="#")
                                i(class="fa-solid fa-phone-volume")
                                | Обратный звонок
                        .contacts
                            a(href="")
                                i(class="fa-solid fa-envelope")
                                | info@monami.by
                            a(href="")
                                i(class="fa-solid fa-location-dot")
                                | г. Минск, ул. Бабушкина, дом 6А, комната 203
                            div
                                i(class="fa-solid fa-clock")
                                | Пн-Пт, с
                                b 9:00
                                | до
                                b 18:00
            .footer__bottom
                .container
                    .footer__row
                        p.text Республика Беларусь, ООО "Мон Ами", УНП 191029787. Дата регистрации в торговом реестре интернет-магазина monami.by 03.05.2021 номер гос. регистрации 509027. Свидетельство о гос. регистрации N191029787 от 29.05.2008, выдано Минским городским исполнительным комитетом
                        .payment
                            img(src="./img/webpay.png", alt="")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js")
        script(src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js")
        script(src='./main.js')