//fonts
$roboto: 'Roboto', sans-serif;
$poppins: 'Poppins', sans-serif;
$openSans: 'Open Sans', sans-serif;
$nunito: 'Nunito', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$lato: 'Lato', sans-serif;

//colors
$blue: #3d3ef1;
$red: #d34146;
$orange: #f68e60;
$white: #fff;
$black: #000;
$gray: #ccc;
